<p>Welcome to LinguaMundi. This website is all about connecting people to others around them, speaking the same language.</p>

<p>In order to start, you must add the languages that you speak, and the skill level with which you speak them.</p>