<p>Welcome to LinguaMundi. This website is all about connecting people to others around them, speaking the same language.</p>

<p>In order to start, you must add the languages that you speak, and the skill level with which you speak them.</p>

<br />
<h4>Pick a language, literally any language.</h4>

<%= form_tag '/set_languages_post' do %>
	<%= select_tag "Language", options_from_collection_for_select(LanguageList::ALL_LANGUAGES, "iso_639_1", "name", :width => "500px") %>
	<input type="text" id="skill" />
	<div id="slider"></div>
<% end %>