<h2><%= @user.name %></h2>

<h3>Spoken Languages</h3>

<ul>
<% @user.language_and_skill_levels.each do |lsl| %>
	<li><%= lsl.spoken_language.try(:name) %> (<%= convert_skill_to_words(lsl.skill_level) %>)</li>
<% end %>
</ul>